html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  font-family: 'Avenir Next';
  font-weight: bold;
  text-decoration: none;
  color: inherit; }

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Medium.woff2') format('woff2'),
         url('AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal}


@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Bold.woff2') format('woff2'),
         url('AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal}

.home {
  width: 80%;
  max-width: 72rem;
  margin: 9% auto; }
  .home ul {
    margin: 3.6rem 0; }
    .home ul > li {
      display: inline;
      padding: 0.3rem;
      font-size: 2rem; }
      @media (min-width: 20rem) and (max-width: 26rem) {
        .home ul > li {
          font-size: 1.5rem; } }
      @media (min-width: 1rem) and (max-width: 20rem) {
        .home ul > li {
          font-size: 1.4rem; } }
      .home ul > li:first-child {
        padding-left: 0; }
      .home ul > li a {
        color: #5834B3;
        -webkit-transition: color 0.1s ease-in-out;
        -moz-transition: color 0.1s ease-in-out;
        -ms-transition: color 0.1s ease-in-out;
        -o-transition: color 0.1s ease-in-out;
        transition: color 0.1s ease-in-out; }
        .home ul > li a[href*="behance"]:hover {
          color: #22FFD2; }
        .home ul > li a[href*="twitter"]:hover {
          color: #22FFD2; }
        .home ul > li a[href*="mail"]:hover {
          color: #22FFD2; }
        .home ul > li a[href*="medium"]:hover {
          color: #22FFD2; }
        .home ul > li a[href*="pdf"]:hover {
          color: #22FFD2; }

.about {
  font-family: 'Avenir Next', Arial, sans-serif;
  font-size: 2.9rem;
  line-height: 4.5rem; }
  @media (min-width: 26rem) and (max-width: 48rem) {
    .about {
      font-size: 3.8rem;
      line-height: 5.3rem; } }
  @media (min-width: 20rem) and (max-width: 26rem) {
    .about {
      font-size: 2.2rem;
      line-height: 3.3rem; } }
  @media (min-width: 1rem) and (max-width: 20rem) {
    .about {
      font-size: 1.8rem;
      line-height: 2.7rem; } }
  .about a {
    color: #5834B3;
    border-bottom: 2px solid;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
    .about a[href*="qelp"] {
      border-color: #A7FFED; }
      .about a[href*="qelp"]:hover {
        color: #22FFD2; }
    .about a[href*="mailto"] {
      border-color: #A7FFED; }
      .about a[href*="mailto"]:hover {
        color: #22FFD2; }

@media (min-width: 48rem) and (max-width: 78rem) {
  br {
    display: none; } }
@media (min-width: 26rem) and (max-width: 48rem) {
  br {
    display: none; } }
@media (min-width: 20rem) and (max-width: 26rem) {
  br {
    display: none; } }
@media (min-width: 1rem) and (max-width: 20rem) {
  br {
    display: none; } }

html, body {
  font-family: 'Avenir Next', Arial, sans-serif;
  font-size: 16px;
  line-height: 2.1rem;
  color: #333; }

body {
  background-color: #FAFAFA; }

.fa {
  font-size: 36px;
}
