---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Hi, I'm Bo and I build websites.">
	<Navigation></Navigation>
	<main>
		<div class="header-container">
			<img src="/src/images/profile.svg" alt="Pixelart portrait of Bo" class="profile-picture">
			<div class="header-content">
				<h1>Hi, I'm Bo.</h1>
				<p class="subtitle">
					I help small businesses and independent creators to effortlessly launch their websites with integrated E-Commerce and Customer Service capabilities.
				</p>
				<a href="/work/">View my work</a>
			</div>
		</div>
		<section class="offering" id="websites">
			<img src="https://place-hold.it/300x300" alt="">
			<h2>Get recognized and generate leads</h2>
			<p>Are you a startup looking to showcase your innovative product? Or a freelancer with an awesome portfolio? I can help you make a website that not only looks good, but also brings in clients.</p>
			<div class="cards-container">
				<Card title="Project One" href="#" body="Some short text to populate the card for now" imageSrc='https://place-hold.it/300x120'></Card>
				<Card title="Project Two" href="#" body="Some short text to populate the card for now" imageSrc='https://place-hold.it/300x120'></Card>
			</div>
		</section>
		<section class="offering" id="ecommerce">
			<img src="https://place-hold.it/300x300" alt="">
			<h2>Start selling merch in no time</h2>
			<p>Are you a creator on YouTube or Twitch with a large audience, but no merchandise store? I can get you started with a webshop that your fans will love to spend their money on!</p>
			<div class="cards-container">
				<Card title="Project One" href="#" body="Some short text to populate the card for now" imageSrc='https://place-hold.it/300x120'></Card>
				<Card title="Project Two" href="#" body="Some short text to populate the card for now" imageSrc='https://place-hold.it/300x120'></Card>
			</div>
		</section>
		<section class="offering" id="customer-service">
			<img src="https://place-hold.it/300x300" alt="">
			<h2>Chat with your customers</h2>
			<p>Are you a business that is looking to take their customer service to the digital age? I can make sure your customers can reach you in a way that is easy for them and manageable for you!</p>
			<div class="cards-container">
				<Card title="Project One" href="#" body="Some short text to populate the card for now" imageSrc='https://place-hold.it/300x120'></Card>
				<Card title="Project Two" href="#" body="Some short text to populate the card for now" imageSrc='https://place-hold.it/300x120'></Card>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: var(--text-color);
	}
	.header-container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
		min-height: 100dvh;
		max-width: 60%;
		padding: 5rem 0 5rem 0;
	}

	.header-container img {
		border-radius: 120px;
		max-width: calc(50% - 1rem);
	}

	.header-container .header-content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		min-width: 22rem;
		max-width: calc(50% - 1rem);
	}

	.header-container .header-content h1 {
		font-size: 4rem;
		font-weight: 600;
	}

	.header-container .header-content p {
		font-size: 1.5rem;
		line-height: 135%;
	}

	.header-container .header-content a {
		font-size: 2rem;
		font-weight: 600;
	}

	.header-container .header-content a::after {
		content: ">>";
		padding-left: 0.5rem;
	}

	section.offering {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
		align-items: center;
		min-height: 100dvh;
		max-width: 60%;
		padding: 5rem 0 5rem 0;
	}

	.cards-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}

	@media (max-width: 784px) {
		.header-container {
			max-width: calc(100% - 1rem);
			flex-direction: column;
		}
		.header-container img {
			max-width: 5rem;
		}
		.header-content {
			text-align: center;
		}
		section.offering {
			max-width: calc(100% - 1rem);
		}

		.cards-container {
			grid-template-columns: 1fr;
		}
	}

</style>
