---
interface Props {
	title: string;
	body: string;
	href: string;
	imageSrc: string;
}

const { href, title, body, imageSrc } = Astro.props;
---

<div class="card">
	<a href={href}>
		<img src={imageSrc} alt="">
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</div>

<style>
	.card {
		padding: 1rem;
		border-radius: 0.5rem;
		border: 1px solid var(--accent-color)
	}
	.card a {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.card a img {
		border-radius: 0.5rem;
	}
</style>
