--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/images/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	:root {
		--brand-gradient: linear-gradient(180deg, #609, #25F0F0);
		--accent-color: hsla(178, 44%, 53%, 1);
		--background-color: #000;
		--text-color: hsla(170, 30%, 95%, 1);
	}
	
	*, *::before, *::after {
  		box-sizing: border-box;
		margin: 0;
	};

	body {
  		line-height: 1.5;
  		-webkit-font-smoothing: antialiased;
	}

	img, picture, video, canvas, svg {
  		display: block;
  		max-width: 100%;
	}

	input, button, textarea, select {
  		font: inherit;
	}

	p, h1, h2, h3, h4, h5, h6 {
  		overflow-wrap: break-word;
		color: inherit;
	}

	#root, #__next {
  		isolation: isolate;
	}

	html {
		font-family: 'Montserrat Alternates', sans-serif;
		background: var(--background-color);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>
